*{margin: 0; padding: 0;}
body{background-color: black;}
#mainSlider{
  overflow: hidden; height: 500px; width:100%;  
}
figure{
  position: relative; width: 500%; margin: 0px; left: 0px; animation: 18s slider infinite; margin-top: 48px;
}
#mainSlider figure img{
  width:20%; float:left;
}
@keyframes slider {
  0%{ left:0;}
  20%{left: 0;}
  25%{left:-100%}
  45%{left:-100%}
  50%{left:-200%;}
  70%{left:-200%;}
  75%{left:-300%;}
  95%{left:-300%;}
  100%{left:-400%;}
}

nav{background-color: white; font-size: 15px;width: 100%; height:50px; margin-top: 0; position: fixed;z-index: 1;} 
nav ul { 
  
  margin: 0;
  padding: 0; 
  padding-right: 20px; float: right;
  
}
nav ul li{list-style: none; position: relative;
float:right;}
nav ul li a {
  display: block;
  color: black;
  text-align: right ;
  padding: 17px 16px;
  text-decoration: none;
}
 .logo{ float:left; object-fit: cover; height:100%; padding: 0px 20px;}
 nav ul li a:hover{
  color:white; font-style:inherit; background-color:rgb(110, 110, 110);
}




.dropdown  {
   
  
  margin-left: 0px; margin-right:0px;
  
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

a{
	text-decoration: none;
}


.product-box{
  	width: 200px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	margin-left: 10px;
	display: inline-block;
}

#first-pro-box{
	margin-left: 40px;
}

.slide-img{
	height:150px;
	position: relative;
}

.slide-img img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.slide-txt{
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: white;
	height: 80px;
	padding: 10px;
}

.item-name a{
	color:#47005B;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 1.1rem;
	max-width: 100%;
	white-space:normal;
	text-align: left;

}


.price{
	color:#060279;
	font-weight: 600;
	font-size: 0.9rem;
	font-weight: 900;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	letter-spacing: 0.5px;
	position: absolute; bottom:10px; right: 10px;
}


.div-wrapper{
	position: relative;
	max-height: 320px;
	height: 320px;
	margin: 20px 10px;
	overflow: auto;
	outline: none;
	overflow-y: hidden;
	-ms-overflow-style: scroll;
	scrollbar-width:none;
}

.div-wrapper::-webkit-scrollbar{
	display: none;
}


ul.products
		{
			white-space: nowrap;
			list-style-type: none;
		}
		
ul.products li{
			display: inline-block;
		}

.next-pre-buttons{
	display:inline-block;
	background-color:#3D3D3D;
	color: white;
	font-size: 30px;
	margin: -230px 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 230px;
	width: 30px;
	cursor: pointer;
	border: none;
	position: absolute;
	
}

.next{
	
	border-radius: 0px 5px 5px 0px;
	float: right;
	
}

.pre{
	
	border-radius: 5px 0px 0px 5px;
	float: left;
}

.next-pre-buttons:active{
	background-color: #370450;
}